body {
    background-color: rgba(252, 255, 210, 0.44);
    margin: 0 !important;
    overflow-x: hidden;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
}

.sector {
    background-color: aqua;
    min-height: 10vw;
    min-width: 10vw;
}

.no-visibility {
    display: none;
}

#dark {
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#workSpan {
    background-color: #fff5e4;
    position: absolute;
    top: $buttonPositionY;
    left: 20%;
    width: 60%;
    height: 1%;
    border: solid #5A5454 2px;
}

#forClose {
    border-radius: 15%;
    outline: none;
    background-color: rgba(0, 51, 255, 0.85);
    position: absolute;
    right: 20%;
    bottom: $buttonPositionY;
    height: $buttonHeight;
    width: $buttonWidth;
    z-index: 150;
    color: #D9D919;
}

#mymodal {
    position: fixed;
    width: $modalWidth;
    border: 2px solid ($backgroundColorModal + #111111);
    background-color: $backgroundColorModal;
    color: #000;
    text-align: left;
    border-radius: 15%;
    padding: 3%;

    button {
        position: absolute;
        bottom: 0px;
        right: 0px;
        @include button(5vw, (5vh / 3) * 2);
        transition: linear all .3s;

        &:hover {
            background-color: rgba($backgroundButton, .3);
        }

    }

}

.centerH {
    margin-top: 50vh - ( $modalHeight / 2);
    margin-bottom: 50vh - ( $modalHeight / 2);
}

.centerW {
    margin-left: 50vw - ($modalWidth / 2);
    margin-right: 50vw - ($modalWidth / 2);
}

@mixin phone()
{
    .container {
        font-size: 3em;
    }
    
    button:not(.closeButton) {
     transform: scale(2);
    }

    #mymodal {
        font-size: 1.8em;
        width: $modalWidth;
        height: 15vh;
        padding: 6%;

        button {
            font-size: 0.9em;
            width: 10vw;
            height: 4*(5vh / 3);
        }

    }
}

@media #{$phone} {
    //telefony
@include phone;
}


@media #{$tablet} {
@include phone;
}