$phone: 'only screen and (max-device-width: 480px)';
$tablet: '(max-width: 1000px) AND (min-width: 701px)';
$PC: '(max-width: 1600px) AND (min-width: 1001px)';
$lgPC: '(min-width: 1601px)';

$buttonPositionY: 10%;
$buttonHeight: 5%;
$buttonWidth: 15%;
$modalWidth: 20vw;
$modalHeight: 5vh;
$backgroundColorModal: #b9bdc1;
$backgroundButton: #5e4f8c;
